#shoppinglist-body {
  background-color: #cfd9ce;
}

#shoppinglist-bg {
  width: 70%;
  min-width: 400px;
  min-height: 80%;
  margin-bottom: 10%;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #384d47;
}

#shoppinglist-bg #whatYouNeed {
  position: absolute;
  color: #384d47;
  font-family: 'Russo One', sans-serif;
  font-size: 40pt;
  top: -103px;
}

#shoppinglist-bg #inputButtonWrapper {
  position: absolute;
  top: 17px;
  left: 2%;
  width: 96%;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
}

#shoppinglist-bg #inputButtonWrapper #inputArticle {
  width: 100%;
  height: 100%;
  background-color: #cfd9ce;
  border: none;
  color: #414141;
  font-family: 'Marmelad', sans-serif;
  font-size: 45px;
  padding: 0;
  padding-left: 8px;
  margin: 0;
}

#shoppinglist-bg #inputButtonWrapper #inputArticle:focus {
  outline: none;
}

#shoppinglist-bg #inputButtonWrapper #addButton {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: #6b7478;
  font-size: 20px;
  font-family: 'Marmelad', sans-serif;
  text-transform: uppercase;
  color: #cfd9ce;
  cursor: pointer;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

#shoppinglist-bg #inputButtonWrapper #addButton:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#shoppinglist-bg #inputButtonWrapper #addButton:focus {
  outline: none;
}

#shoppinglist-bg #ulWrapper {
  width: 96%;
  margin-top: 94px;
  margin-left: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#shoppinglist-bg #ulWrapper div {
  font-family: 'Russo One', sans-serif;
  font-size: 16pt;
  height: 30px;
  letter-spacing: 4px;
  color: #cfd9ce;
}

#shoppinglist-bg #ulWrapper #ul {
  padding: 0;
  list-style: none;
  font-family: 'Marmelad', sans-serif;
}

#shoppinglist-bg #ulWrapper #ul li {
  position: relative;
}

#shoppinglist-bg #ulWrapper #ul li label {
  background-color: #7c8e51;
  height: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#shoppinglist-bg #ulWrapper #ul li label p {
  font-size: 20pt;
  line-height: 1;
  font-family: 'Marmelad', sans-serif;
  color: #cfd9ce;
}

#shoppinglist-bg #ulWrapper #ul li label input {
  display: none;
}

#shoppinglist-bg #ulWrapper #ul li div {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url(../img/x.svg);
}

#shoppinglist-bg #ulWrapper #ulDone {
  padding: 0;
  list-style: none;
  font-family: 'Marmelad', sans-serif;
}

#shoppinglist-bg #ulWrapper #ulDone li {
  position: relative;
}

#shoppinglist-bg #ulWrapper #ulDone li label {
  background-color: #6b7478;
  height: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#shoppinglist-bg #ulWrapper #ulDone li label p {
  font-size: 20pt;
  line-height: 1;
  font-family: 'Marmelad', sans-serif;
  color: #414141;
}

#shoppinglist-bg #ulWrapper #ulDone li label p:first-child {
  text-decoration: line-through;
}

#shoppinglist-bg #ulWrapper #ulDone li label input {
  display: none;
}

#shoppinglist-bg #ulWrapper #ulDone li div {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url(../img/x.svg);
}
/*# sourceMappingURL=main.css.map */